.parentContainer {
    background-color: black;
    overflow: hidden;
    color: white;
}

.game-over-overlay {
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    background-color: rgba(0, 0, 0, .66);
    color: white;
}