<div
  class="parentContainer"
  fxFlex="fill"
>
  <app-game-side-panel
    [avatars]="avatars"
    fxFlex="20%"
  ></app-game-side-panel>
  <div
    fxFlex="80%"
    fxLayout="column"
    cdkDropListGroup
  >
    <app-game-hand
      fxFlex="20%"
      [avatar]="avatars[0]"
      [hideCards]="true"
    ></app-game-hand>
    <app-game-grid
      fxFlex="60%"
      [avatars]="avatars"
      [sizeX]="width"
      [sizeY]="height"
      class="grid"
    ></app-game-grid>
    <app-game-hand
      fxFlex="20%"
      [avatar]="avatars[1]"
    ></app-game-hand>
  </div>
</div>

<div
  *ngIf="gameOver"
  class="game-over-overlay"
  fxLayoutAlign="center center"
>
  <h1>Game Over!</h1>
</div>