<div
  *ngIf="card"
  fxFlex="fill"
  class="card img"
  [style.background-image]="'url('+card.imgUrl+')'"
  fxLayout="column"
  [style.background]="backgroundColorStr"
  [style.box-shadow]="shadowStr"
>

  <div
    fxFlex
    fxFlexAlign="center"
    class="cardname"
  >
    <span>{{card.tribe.name}}&nbsp;</span>
    <span>{{card.species.name}}&nbsp;</span>
    <span>{{card.role.name}}</span>
  </div>

  <div
    class="orbs-right"
    fxLayout="column"
    fxLayoutAlign="start end"
  >
    <app-orb
      [val]="card.cost"
      color="orange"
      title="Cost"
    ></app-orb>
    <app-orb
      [val]="card.offence"
      color="red"
      title="Offence"
    ></app-orb>
    <app-orb
      [val]="card.defence"
      color="green"
      title="Defence"
    ></app-orb>
  </div>



  <!-- Fill space to provide a window to see the image. -->
  <div fxFlex="fill"></div>

  <div
    class="desc"
    fxFlex
    fxLayout="column"
    fxLayoutAlign="center"
  >
    <div
      class="ability"
      fxFlex="nogrow"
      *ngFor="let ability of card.abilities"
    >
      <span
        class="title"
        [title]="ability.description"
      >{{ability.name}}</span>
    </div>
  </div>
  <div
    *ngIf="showLore"
    class="lore"
    fxFlex
  >{{card.lore}}</div>

  <div
    class="orbs-bottom"
    fxLayout="row"
  >
    <app-orb
      [val]="card.health.start"
      color="purple"
      title="HP"
    ></app-orb>
    <app-orb
      [val]="card.speed"
      color="blue"
      title="Speed"
    ></app-orb>
  </div>
</div>