.card {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: black;
    /* text-shadow: 0 0 3px white; */
    user-select: none;
}

.cardname {
    font-weight: bold;

    /* Outline the text using multiple shadows. */
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;

}

.ability .title {
    font-weight: bold;
}

.lore {
    font-style: italic;
}

.img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.desc {
    color: white;
}

.tribeSpeciesRole {
    font-style: italic;
}

.ability {
    border: 1px solid grey;
}

.ability, .lore {
    background-color: rgba(0,0,0,.7);
    padding: 3px;
}

.orbs-right {
    float:right;
    margin-top: -45px;
    margin-right: -27px;
    z-index: 100;
}

.orbs-right {
    margin-bottom: -30px;
    z-index: 100;
}

.orbs-right > app-orb {
    margin-bottom: 5px;
}

.orbs-bottom {
    margin-bottom: -25px;
    margin-left: -25px;
}
.orbs-bottom > app-orb {
    margin-right: 5px;
}
