<div
    fxFlex="fill"
    fxLayout="column"
>
    <app-game-side-panel-avatar
        fxFlex="fill"
        label="Opponent"
        [avatar]="avatars[0]"
        imagePath="assets/card-art/cartoon/Wizard.png"
    ></app-game-side-panel-avatar>


    <app-matchmake fxFlex="40%"></app-matchmake>


    <app-game-side-panel-avatar
        fxFlex="fill"
        label="You"
        [avatar]="avatars[1]"
        imagePath="assets/card-art/cartoon/Wizard.png"
    ></app-game-side-panel-avatar>

</div>