<div
    fxFlex="fill"
    fxLayout="column"
    fxLayoutAlign="center center"
>
    <h1 [style.color]="avatar.color">{{label}}</h1>

    <div
        class="img"
        fxFlex="fill"
        [style.background-image]="'url('+imagePath+')'"
    ></div>

    <p>
        <app-progress-bar
            label="Health"
            color="red"
            [percent]="avatar.health.percent"
        ></app-progress-bar>
        <span>Health: {{avatar.health.current}}/{{avatar.health.start}} ({{avatar.health.percent}}%)</span>
    </p>

    <p>
        <app-progress-bar
            label="Charge"
            color="blue"
            [percent]="avatar.charge.percent"
        ></app-progress-bar>
        <span>Charge: {{avatar.charge.percent}}%</span>
    </p>

</div>