p {
    width: 80%;
    text-align: center;
}

app-progress-bar {
    width: 100%;
}

.img {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: aliceblue;
}