.hand-container {
  min-height: 50px;
  padding: 10px;
  z-index: 3;
}

.outer-container {
}

.hidden-card {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: xx-large;
  border: 1px solid;
}
