<div
  fxFlex
  fxLayout="column"
  class="outer-container"
>
  <div
    class="hand-container"
    fxFlex="fill"
    fxLayoutGap="20px"
    cdkDropList
  >

    <ng-container *ngFor="let card of avatar.hand">
      <app-card
        *ngIf="!hideCards; else hiddenCardTemplate"
        [card]="card"
        [showLore]="false"
        fxFlex
        cdkDrag
        [cdkDragData]="card"
        (cdkDragDropped)="onCardDrop(card, $event)"
        [cdkDragDisabled]="!avatar.charge.ready"
      >
        <app-card-mini
          *cdkDragPlaceholder
          [body]="card"
          fxFlex
        ></app-card-mini>
      </app-card>
      <ng-template #hiddenCardTemplate>
        <div
          fxFlex
          class="hidden-card"
          fxLayoutAlign="center center"
          [style.border-color]="avatar.color"
        >?</div>
      </ng-template>
    </ng-container>


  </div>

  <app-progress-bar
    label="Draw Timer"
    color="green"
    [percent]="drawCharge.percent"
  ></app-progress-bar>
</div>