<div
  fxLayout="column"
  fxFlex="fill"
  class="container"
>

  <ng-container *ngIf="router.globals.current.url !== '/game'">
    <h1>{{title}}</h1>

    <nav
      fxFlex
      fxLayoutGap="10px"
    >
      <a uiSref="Game">Game</a>
      <a uiSref="Card Generator">Card Generator</a>
    </nav>
  </ng-container>

  <ui-view fxFlex="fill"></ui-view>
</div>