<div
  fxFlex="fill"
  class="border"
  [title]="body.name"
  (click)="body.toggleActiveMode()"
  [style.border-color]="borderColor"
  [style.box-shadow]="'0px 0px 5px 5px ' + (body | activeStatColor)"
>
  <div
    fxFlex="fill"
    fxLayout="column"
    class="container no-select-highlight"
  >

    <div
      fxFlex="fill"
      class="img"
      [style.background-image]="'url('+body.imgUrl+')'"
    ></div>

    <app-progress-bar
      [label]="'HP: ' + body.health.current"
      color="red"
      [percent]="body.health.percent"
    ></app-progress-bar>

    <app-progress-bar
      [label]="'Charge: ' + body.charge.percent"
      color="blue"
      [percent]="body.charge.percent"
    ></app-progress-bar>

  </div>
  <div class="orb-container">
    <app-orb
      [val]="body.offence"
      color="red"
      *ngIf="body.mode"
      title="Offence"
    ></app-orb>
    <app-orb
      [val]="body.defence"
      color="green"
      *ngIf="body.mode"
      title="Defense"
    ></app-orb>
    <app-orb
      val="&#x2729;"
      color="gold"
      class="clickable"
      (click)="onAbilitiesClick()"
      title="Abilities"
    ></app-orb>
  </div>
</div>