.border {
  border: 3px solid rgb(116, 65, 0);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .75);
}

.container {
  user-select: none;
}

.img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.orb-container {
  float: right;
  margin-right: -15px;
}