<h1>Matchmaking</h1>

<p *ngIf="pvp.status">Status: {{pvp.status}}</p>

<ng-container *ngIf="!pvp.conn">
    <button (click)="pvp.host()">Host</button>

    <div *ngIf="pvp.status == 'Hosting'">
        <label>Room Key</label>
        <input
            type="text"
            readonly
            [value]="pvp.roomKey"
        >
    </div>

    <div *ngIf="pvp.status !== 'Hosting'">
        <label>Room Key</label>
        <input
            type="text"
            [(ngModel)]="pvp.roomKey"
        >
        <button (click)="pvp.connectAsClient()">Connect!</button>
    </div>

</ng-container>

<button *ngIf="pvp.role == PvpRole.HOST" (click)="pvpEventHandlerService.sendGamestate()">Send Gamestate</button>