<div
    fxFlex="fill"
    fxLayout="column"
    fxLayoutGap="20px"
>
    <button (click)="generate()">Generate</button>
    <app-card
        class="card"
        *ngIf="card"
        [card]="card"
    ></app-card>
</div>