/* You can add global styles to this file, and also import other style files */

html,body {
    height: 100%;
    margin: 0px;
}
app-root {
    min-height: 100%;
    display: flex;
}

ui-view > * {
    border: 1px solid black;
    height: 100%;
}

.clickable {
    cursor: pointer;
}

.no-select-highlight,
.no-select-highlight * {
  user-select: none;
}